<mat-toolbar color="primary">

 <div id="Logo"> <img src="../assets/Logo.svg" alt="safe repository"></div> 
 <ng-container *ngIf="isUserLoggedIn()">
  <span id="Welcome"> Welcome, {{getUserName()}}</span>
  <a *ngIf="isUserAdmin()" routerLink="/usersAdmin" mat-button>Users</a>
</ng-container>
  <a routerLink="/experiments" mat-button>Experiments</a>
 
  <a *ngIf="isUserLoggedIn();else unauthenticated" (click)="logUserOut()" mat-button>Logout</a>
  <ng-template #unauthenticated><a mat-button>Login</a></ng-template>
</mat-toolbar>

