.mat-toolbar {
  background-color: rgb(24, 89, 176);
  color: white;
}

.mat-button {
  color: white;
  margin-right: 20px;
  font-family: monospace;
}

#Logo {
  width: 150px;
  margin-right: 20px;
  border: white solid 1px;
 }

 #Welcome {
   font-family: cursive;
   margin-right: 20px;
 }

 