<!DOCTYPE html>
<h1>
    Login to safe repository
</h1>
<div *ngIf="login">

    <label for="username">Username: </label>
    <input type="text" id="username" name="username" [(ngModel)]="login.username" placeholder="{{login.username}}"><br><br> 
    <label for="password">Password: </label>
    <input type="text" id="password" name="password" [(ngModel)]="login.password" placeholder="{{login.username}}"><br><br>
   
    <button type="button" value="Login" (click)="dologin()">login</button>

</div>
    

<html>
